{% extends 'base.html' %}
{% block title %}
    {{task.title}}
{% endblock %}
{% block content %}
     
    A Mentor<sup><a href="/about/mentor/">learn more</a></sup>
    of the task can request other users to mentor the task by clicking the link "Add more mentors" available on the task page.
    A request will be sent to the user and he will also become the mentor of the task if he accepts it.<br />
    
    <br /><a href="javascript:history.go(-1)">Click here</a> to get back to the previous page.
{% endblock %}
