{% extends 'base.html' %}
{% block title %}
    {{task.title}}
{% endblock %}
{% block content %}
    The user who created a task will become a mentor for the task. Mentor is a person who mentors the task.
    Mentor has all the rights over the task. A Mentor can request other users also to mentor the task.
    Mentor can add/remove subtasks if applicable. Mentor can request assign of credits for task.
    Mentor can mark the task as Invalid/Complete.<br />
    
    <br /><a href="javascript:history.go(-1)">Click here</a> to get back to the previous page.
{% endblock %}
