{% extends 'base.html' %}
{% block title %}
    PyTasks - About - Reviewer
{% endblock %}
{% block content %}
    Reviewering is a right specific to the task. The user who creates a task will become the reviewer for the task. A Reviewer can request 
    other <sup><a href="/about/addreviewers/" target="_blank">learn more</a></sup> users also to reviewer the task.
    Reviewer is a person who reviewers the task.  Reviewer has all the rights over the task.<br />
    
    <ul>
    <li>Reviewer can view the task even if it is unpublished.</li>
    <li>Reviewer can edit the task when it is in unpublished state.</li>
    <li>Reviewer can add/remove subtasks/dependencies to a task.</li>
    <li>Reviewer decides whom to assign the task (choose from claimed users).</li>
    <li>Reviewer also has the rights to remove a working user from a task.</li>
    <li>Reviewer requests assigning of pynts to users/reviewers for the task.</li>
    <li>Reviewer has the rights to close a task or mark the task as complete.</li>
    <li>Publishing/Deleting an unpublished task is a special right available only to the creator of the task.</li>
    </ul>
    <a href="/about/tasklife/" target="_blank">click here</a> to know the complete life cycle of a task.
{% endblock %}
