{% extends 'base.html' %}
{% block title %}
    PyTasks - About - Request
{% endblock %}
{% block content %}
    Request is a request made by a user, requesting you to become someone else. It can also be request of assigning pynts to a user
    for a task ( goes to all the admins only ).
    You can accept or reject a request. You can also provide optional remarks when rejecting. When you respond to a request, it is 
    automatically removed from your requests and you will be redirected to browse requests page.
    Redundant requests are automatically removed.<br /><br />
    The following can be redundant requests.
    <ul>
    <li>You are requested to act as a mentor and the task is published or deleted or closed or completed</li>
    <li>There are requests for assigning pynts to a user for a task and the task is closed or completed</li>
    <li>There are requests for assigning pynts to a user and the user is removed from the working users of the task</li>
    </ul>
    These redundant requests when removed, a notification is sent to the requested user.
    <ul>
    <li>You accept a request to act as mentor for a task and there are similar requests </li>
    <li>You accept a request to act as an admin and there are similar or less privileged requests ("Manager", "Developer")</li>
    <li>You accept a request to act as a manager and there are similar or less privileged requests ("Developer")</li>
    <li>You accept a request to act as a developer and there are similar requests</li>
    </ul>
    
{% endblock %}
