{% extends 'base.html' %}
{% block title %}
    PyTasks - Start here
{% endblock %}
{% block content %}
    PyTasks is a website designed to encourage open source participation of people. Now that you are registered, you are a 
    contributor in the website.
    You can see your notifications and requests from the links available in side bar.
    You can browse all the tasks through the tasks link in the side bar.<br />
    Choose a task <sup><a href="/about/task/" target="_blank">learn more</a></sup> of your choice and claim it to start working on it.<br />
    
    <!-- To know more on your rights in the website <a href="/about/contributor" target="_blank">click here</a>.<br /> -->
    <!-- To know more on tasks <a href="/about/task/" target="_blank">click here</a>.<br /> -->
{% endblock %}
