{% extends "base.html" %}


{% block content %}
Name: {{ profile.full_name }} <br />

Gender: {{ profile.gender }} <br />
<hr />
About: {{ profile.aboutme|linebreaksbr }} <br />

{% if user.claimed_tasks.all %}
<hr />
<h3>List of Tasks requested for claim but awaiting approval:</h3>
<ul>
  {% for task in user.claimed_tasks.all %}
  <li><a href="{% url view_task task.id %}">{{ task.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if user.selected_tasks.all %}
<hr />
<h3>List of Tasks currently working on:</h3>
<ul>
  {% for task in user.selected_tasks.all %}
  <li><a href="{% url view_task task.id %}">{{ task.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if user.comp_tasks.all %}
<hr />
<h3>List of Tasks completed:</h3>
<ul>
  {% for task in user.comp_tasks.all %}
  <li><a href="{% url view_task task.id %}">{{ task.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if user.reviewing_tasks.all %}
<hr />
<h3>List of Tasks reviewed:</h3>
<ul>
  {% for task in user.reviewing_tasks.all %}
  <li><a href="{% url view_task task.id %}">{{ task.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
