{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}


{% extends "base.html" %}


{% block content %}

{% if all %}
  <a href="{% url edit_profile %}">Edit Profile</a><br />
{% endif %}

Name: {{ profile.full_name }} <br />
Gender: {{ profile.gender }} <br />

{% if medium %}
  <hr />
  Username: {{ profile_user.username }} <br />
{% endif %}

{% if all %}
  Date of Birth: {{ profile.dob }}<br />
{% endif %}

{% if medium %}
<hr />
<h4>Contact Details</h4>
Email: {{ profile_user.email }}<br />
{% endif %}

{% if all %}
Address: {{ profile.address|linebreaksbr }} <br />
Phone Number: {{ profile.phonenum }} <br />
{% endif %}

<hr />

About: {{ profile.aboutme|linebreaksbr }} <br />

{% if profile_user.claimed_tasks.all %}
<hr />
<h3>List of Tasks requested for claim but awaiting approval:</h3>
<ul>
  {% for task in profile_user.claimed_tasks.all %}
  <li><a href="{% url view_task task.id %}">{{ task.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if profile_user.selected_tasks.all %}
<hr />
<h3>List of Tasks currently working on:</h3>
<ul>
  {% for task in profile_user.selected_tasks.all %}
  <li><a href="{% url view_task task.id %}">{{ task.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if profile_user.comp_tasks.all %}
<hr />
<h3>List of Tasks completed:</h3>
<ul>
  {% for task in profile_user.comp_tasks.all %}
  <li><a href="{% url view_task task.id %}">{{ task.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if profile_user.reviewing_tasks.all %}
<hr />
<h3>List of Tasks reviewed:</h3>
<ul>
  {% for task in profile_user.reviewing_tasks.all %}
  <li><a href="{% url view_task task.id %}">{{ task.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
