{% extends 'base.html' %}
{% block content %}
{% if newest %}
<a href="/profile/notf/view/nid={{newest.uniq_key}}">&lt;&lt;newest</a>
{% endif %}
{% if newer %}
<a href="/profile/notf/view/nid={{newer.uniq_key}}">&lt;newer</a>
{% endif %}
{% if older %}
<a href="/profile/notf/view/nid={{older.uniq_key}}">older&gt;</a>
{% endif %}
{% if oldest %}
<a href="/profile/notf/view/nid={{oldest.uniq_key}}">oldest&gt;&gt;</a>
{% endif %}
<br />

<br />
sent on {{notification.sent_date|date:"D d M Y"}} at {{notification.sent_date|time:"H:i"}}<br />
Sub: {{notification.subject}}<br />
<br />
{{notification.message|safe}}
<br />
<a href="/profile/notf/del/nid={{notification.uniq_key}}">Delete</a>
<a href="/profile/notf/unr/nid={{notification.uniq_key}}">Keep Unread</a>
{% endblock %}
