{% extends 'base.html' %}
{% block content %}
{% if newest %}
<a href="{% url view_notification newest.id %}">&lt;&lt;newest</a>
{% endif %}
{% if newer %}
<a href="{% url view_notification newer.id %}">&lt;newer</a>
{% endif %}
{% if older %}
<a href="{% url view_notification older.id %}">older&gt;</a>
{% endif %}
{% if oldest %}
<a href="{% url view_notification oldest.id %}">oldest&gt;&gt;</a>
{% endif %}
<br />

<br />
Sent on {{notification.sent_date|date:"D d M Y"}} at {{notification.sent_date|time:"H:i"}}<br />
Sub: {{notification.subject}}<br />
<br />
{{notification.message|safe}}
<br />
<a href="{% url delete_notification notification.id %}">Delete</a>
<a href="{% url unread_notification notification.id %}">Keep Unread</a>
{% endblock %}
