{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}


{% load form_helpers %}


{%if field.field.required %}
<div id="field-required">
{% else %}
<div id="field">
{% endif %}
  {{ field.errors }}
  {{ field.label_tag }}
  {{ field }}
</div>

{% if field.help_text %}
<script type="text/javascript">
  $(document).ready(function () {
    $("#{{ field.auto_id }}").qtip({
      content: "{{ field.help_text }}",
      style: { 
        name: "green",
        tip: true
      },
      position: {
        corner: {
           target: 'rightMiddle',
           tooltip: 'leftMiddle'
        }
      },
      show: "focus",
      hide: "blur",
   });
  });
</script>
{% endif %}