{% extends 'base.html' %}
{% block title %}
    {{task.title}}
{% endblock %}
{% block content %}
        <a href="/task/view/tid={{task.id}}">Click here</a> to return to the task.<br />

        <form action="" method="post">
        {{form.as_p}}
        <input type="submit" value="Submit">
        </form>
        {% if prev_credits %}
            <a href="/task/complete/tid={{task.id}}">Mark task as complete.</a>
            <hr />
        {% endif %}
        {% if credit_requests %}
            <br/>Previous credits:<br />
            {% for req in credit_requests %}
            <hr />
                <a href="/user/view/uid={{req.sent_by.id}}">{{req.sent_by.username}}</a> requested assigning of {{req.pynts}} pynts to
                <a href="/user/view/uid={{req.receiving_user.id}}">{{req.receiving_user.username}}</a>
                on {{req.creation_date|date:"D d M Y"}} at {{req.creation_date|time:"H:i"}}<br />
                {% if req.is_replied %}
                    status: 
                    {% if req.reply %}
                        Approved by <a href="/user/view/uid={{req.replied_by.id}}">{{req.replied_by.username}}</a>
                        on {{req.reply_date|date:"D d M Y"}} at {{req.reply_date|time:"H:i"}}<br />
                    {% else %}
                        Rejected by <a href="/user/view/uid={{req.replied_by.id}}">{{req.replied_by.username}}</a>
                        on {{req.reply_date|date:"D d M Y"}} at {{req.reply_date|time:"H:i"}}<br />
                        {% if req.remarks %}
                            Reason: {{req.remarks}}
                        {% endif %}
                    {% endif %}
                {% else %}
                    status: Request pending
                {% endif %}
            {% endfor %}
        {% else %}
            No assigning of pynts has been made for this task.
        {% endif %}
{% endblock %}
