{% extends 'base.html' %}
{% block content %}
    {% if claims %}
        List of all the claims for the task <a href="/task/view/tid={{task.id}}">{{task.title}}</a><br />
        {% for claim in claims %}
            <hr />
            <a href="/user/view/uid={{claim.user.id}}">{{claim.user.username}}</a> at {{claim.creation_datetime.ctime}} wrote:<br />
            {{claim.message}}<br />
        {% endfor %}
    {% else %}
        {% if task_claimable%}
            There are no claims for this task yet.<br />
        {% else %}
            This task cannot be claimed right now.
        {% endif %}
        <a href="/task/view/tid={{task.id}}">Click here</a> to return to the task.
    {% endif %}
    {% if task_claimed and is_mentor %}
        <a href="/task/assign/tid={{task.id}}">Select a user to assign the work.</a>
    {% endif %}
    {% if user_can_claim %}
    <hr />
    {% if errors %}
        {% for error in errors %}
            {{error}}<br />
        {% endfor %}
    {% endif %}
    Claim the task:<br />
        <form action="" method="post">
        <textarea name="message"></textarea><br />
        <input type="submit" value="Submit Claim">
        </form>
    {% endif %}
{% endblock %}
