{% extends 'base.html' %}
{% block content %}
    {% if user_can_claim %}
        Propose a claim to work on this task.<sup><a href="/about/claimtask/" target="_blank">learn more</a></sup><br /><br />
    {% endif %}
    {% if claims %}
        List of all the claims for the task <a href="/task/view/tid={{task.id}}">{{task.title}}</a><br />
        {% for claim in claims %}
            <hr />
            <a href="/user/view/uid={{claim.sent_from.id}}">{{claim.sent_from.username}}</a>
            on {{claim.sent_date|date:"D d M Y"}} at {{claim.sent_date|time:"H:i"}} wrote:<br />
            {{claim.remarks}}<br />
        {% endfor %}
    {% else %}
        {% if task_claimable %}
            There are no claims for this task yet.<br />
            {% if user_can_claim %}
                Be the first to claim the task.<br />
            {% endif %}
        {% else %}
            The task cannot be claimed at this stage.<br />
        {% endif %}
        <a href="/task/view/tid={{task.id}}">Click here</a> to view the task.<br />
    {% endif %}
    {% if task_claimed and is_reviewer %}
        <a href="/task/assign/tid={{task.id}}">Select a user to assign the work.</a><sup><a href="/about/assigntask/" target="_blank">learn more</a></sup>
    {% endif %}
    {% if user_can_claim %}
    <!--
        {% if errors %}
            {% for error in errors %}
                {{error}}<br />
            {% endfor %}
        {% endif %}
        
        <hr />
        Claim proposal:<br />
            <form action="" method="post">
            <textarea name="message"></textarea><br />
            <input type="submit" value="Submit Claim"><br />
            
            </form>
        -->
        <hr />
        <form action="" method="post">
        {{form.as_p}}
        <input type="submit" value="Submit Claim"><br />
        Please note that you can claim only once and so write your proposal carefully.<br />
        </form>
    {% endif %}

{% endblock %}
