{% extends 'base.html' %}
{% block title %}
    {{task.title}}
{% endblock %}
{% block content %}
    <b>Disclaimer:</b><br />
    If a task is closed, it implies the task is no more a valid task. The task cannot be edited or added subtasks/dependencies.
    Please <a href="/task/assignpynts/tid={{task.id}}">click here</a> to return to assign pynts page if you want to request assign of pynts.
    You cannot request assign of pynts and all the pending requests on this task will be made invalid when a task is closed.<br /><br />
    
    The only difference between marking a task as closed and completed is that the tasks depending on completed tasks will be free to be claimed 
    and worked on. This action cannot be undone. If you have double checked every thing, please provide a reason and close the task.<br />
    
    <br />
    {% if error %}
    Please provide a reason for closing the task.
    {% endif %}
    <form action="" method="post">
        Reason: <input type="text" name="reason">
        <input value="Close the task" type="submit">
    </form>
{% endblock %}
