{% extends 'base.html' %}
{% block title %}
    {{task.title}}
{% endblock %}
{% block content %}
    <b>Disclaimer:</b><br />
    Marking a task as complete implies the task has been completed successfully. It implies that all the required files 
    are available as attatchments in comments and all the users worked on this task were pynted accordingly.<br /><br />
    This action sets the task as completed and frees all the tasks depending on this task. Henceforth, the task <strong>can not</strong> be 
    commented upon or edited by anyone.<br /><br />
    If there are pending requests for assigning pynts, they will be deleted and admins will not be able to approve those requests.
    Hence you cannot assign pynts to anyone for this task anymore. You must wait for the requests to be approved by any of the admins. 
    If you would like to request for assigning more pynts, return to assign pynts page by clicking 
    <a href="/task/assignpynts/tid={{task.id}}">here</a>.<br /><br />
    If you have double checked everything, confirm this action by clicking the button below.
    <form action="" method="post">
        <input value="Mark as Complete" type="submit">
    </form>
{% endblock %}
