{% extends 'base.html' %}
{% block title %}
    {{task.title}}
{% endblock %}
{% block content %}
    <b>Disclaimer:</b><br />
    Publishing a task will make the task visible to every one and cannot be edited there after.<br /><br />
    Only you will have reviewering rights on this task. But you can request other users also to reviewer the task.
    <sup><a href="/about/addreviewers/" target="_blank">learn more</a></sup><br /><br />
    This action cannot be undone.
    <br />
    Please confirm if you want to publish.
    <form action="" method="post">
        <input value="Publish" type="submit">
    </form>
{% endblock %}
