{% extends 'base.html' %}
{% block title %}
    {{task.title}}
{% endblock %}
{% block content %}
    <b>Disclaimer:</b><br />
    Publishing a task will make the task visible to every one.
    Only you will have mentoring rights on this task. But you can request another user also to mentor the task.<br />
    This action cannot be undone.
    <br /><br />
    Please confirm if you want to publish.
    <form action="" method="post">
        <input value="Publish" type="submit">
    </form>
{% endblock %}
