{% extends 'base.html' %}
{% block title %}
    {{task.title}}
{% endblock %}
{% block content %}
{% if not old_reports %}
There are no reports submitted as of now
{% else %}
{% for rep in old_reports %}
{{rep.submitted_by}} | <a href="{{rep.attachment.url}}">{{rep.attachment.name}}</a> <br />
{% endfor %}
{% endif %}
<hr />
{% if can_upload %}
Submit a report: <br />
<form action='' method=post enctype="multipart/form-data">
{{ form.as_p }}
<input type=submit value=submit />
</form>
{% endif %}
{% endblock %}
