{% extends 'base.html' %}
{% block title %}
    {{task.title}}
{% endblock %}
{% block content %}
    {% if task_viewable %}
        <h3>{{ task.title }}</h3><br />

        {% if can_edit %}
            <a href="/task/edit/tid={{task.id}}">Edit task</a>
        {% endif %}
        
        {% if can_publish %}
            <a href="/task/publish/tid={{task.id}}">Publish task</a>
        {% endif %}
        
        {% if can_close %}
            <a href="/task/close/tid={{task.id}}">Close this task</a>
        {% endif %}
        
        {% if can_delete %}
            <a href="/task/delete/tid={{task.id}}">Delete task</a>
        {% endif %}

        <hr />created by <a href="/user/view/uid={{ task.created_by.id }}">{{ task.created_by.username }}</a>
        on {{task.creation_datetime|date:"D d M Y"}} at {{task.creation_datetime|time:"H:i"}}<br />
        
        {% ifequal task.status "UP" %}
            Task can be viewed by:
        {% else %}
            Mentors:
        {% endifequal %}
        
        {% for mentor in mentors %}
            <a href="/user/view/uid={{mentor.id}}">{{mentor.username}}</a>
        {% endfor %}
        
        {% if can_mod_mentors %}
            <a href="/task/addmentor/tid={{task.id}}">
            {% ifequal task.status "UP" %}
                Request others to view/edit the task
            {% else %}
                Add another Mentor to this task
            {% endifequal %}</a>
        {% endif %}
        <br />
        
        <hr />
        <b>Description:</b><br />
        {{ task.desc|linebreaksbr }}
        <hr />

        {% if deps %}
        
            <br />The task has following dependencies.<br />
            {% for dep in deps %}
                <a href="/task/view/tid={{dep.id}}">{{dep.title}}</a><br />
            {% endfor %}
            
            {% if can_mod_tasks %}
                <a href="/task/addtask/tid={{task.id}}">add more dependencies</a>
                <a href="/task/remtask/tid={{task.id}}">remove an existing dependency</a>
            {% endif %}
            
        {% else %}
        
            {% if subs %}
                This task cannot be claimed.. It exists only to show all of its sub tasks in one place.<br />
                The task has following sub tasks.<br />
                {% for sub in subs %}
                    <a href="/task/view/tid={{sub.id}}">{{sub.title}}</a><br />
                {% endfor %}
                
                {% if can_mod_tasks %}
                    <a href="/task/addtask/tid={{task.id}}">add more subtasks</a>
                    <a href="/task/remtask/tid={{task.id}}">remove an existing subtask</a>
                {% endif %}
                
            {% else %}
            
                {% if can_mod_tasks %}
                    <a href="/task/addtask/tid={{task.id}}">add a subtask/dependency </a>
                {% endif %}
                
            {% endif %}
        {% endif %}
        
        {% ifequal task.status "CD" %}
            Task has been closed by <a href="/user/view={{closing_notification.sent_from.id}}">{{closing_notification.sent_from.username}}</a>
            on {{closing_notification.sent_date|date:"D d M Y"}} at {{closing_notification.sent_date|time:"H:i"}}<br />
            <b>Reason: </b>{{closing_notification.remarks}}<br />
        {% endifequal %}
        
        {% ifequal task.status "CM" %}
            Task has been marked complete by <a href="/user/view={{completed_notification.sent_from.id}}">
            {{completed_notification.sent_from.username}}</a>
            on {{completed_notification.sent_date|date:"D d M Y"}} at {{completed_notification.sent_date|time:"H:i"}}<br />
        {% endifequal %}
            
        {% ifequal task.status "OP" %}
            <br />There are no users working on this task.<br />
        {% endifequal %}
            
        {% if assigned_users %}
            Users working on this task:
            {% for user in assigned_users %}
                <a href="/user/view/uid={{user.id}}">{{user.username}}</a>
            {% endfor %}
            {% if is_mentor %}
                <a href="/task/remuser/tid={{task.id}}">Remove an existing user</a>
            {% endif %}
            <br />
        {% endif %}
        
        {% if can_assign_credits %}
            <a href="/task/assigncredits/tid={{task.id}}">View/Assign credits</a>
        {% endif %}
        
        {% if task_claimable %}
            <a href="/task/claim/tid={{task.id}}">View claims</a>
        {% endif %}
        
        {% if comments %}
            <hr />
            comments:<br /><br />
            {% for comment in comments %}
                <a href="/user/view/uid={{comment.created_by.id}}">{{ comment.created_by.username }}</a> 
                on {{ comment.creation_datetime|date:"D d M Y"}} at {{comment.creation_datetime|time:"H:i"}} wrote:<br />
            {{ comment.data }}<br /><br />
            {% endfor %}
        {% endif %}

        {% if not is_guest %}
        <hr />
            {% ifnotequal task.status "CM" %}
                Add comment:<br />
                <form action="" method="post">
                <!-- we might even want to use forms here -->
                <textarea  name="data"></textarea><br />
                <input type="submit" value="Submit">
                </form>
            {% endifnotequal %}
        {% endif %}
    {% else %}
        You are not authorised to view this task. <a href="/task/browse/">click here</a> to return to browsing the tasks.
    {% endif %}
{% endblock %}
