{% load user_tags %}

<div id="navheader">
Navigation
</div>
<ul id="nav">
  <li><a href="{% url home_page %}" title="home">Home</a></li>
  <br />
<!--  <li><a href="{% url browse_tasks %}" title="tasks">Tasks</a></li>-->
  <li><a href="{% url browse_textbooks %}" title="textbook">Textbooks</a></li>
  <br/>
  <!-- This URL is intentionally hard-coded since it exists out of Django -->
  <h3>About</h3>
  <li><a href="/" title="textbook">FOSSEE</a></li>
  <li><a href="/textbooks" title="textbook">Textbook Project</a></li>
  <br />
</ul>