<html>
<head>
    <title>{% block title %}PyTasks{% endblock %}</title>
    {% block js_script %} {% endblock %}
    <link rel=stylesheet href="/pytask/static/css/base.css" type="text/css" >
</head>
{% load user_tags %}
<body>
<div id="wrapper">
    <div id="header">
        <h2><a href="{% url home_page %}">PyTasks</a></h2>
    </div>
    <div id="container">
        <div id="left">
        <ul id="nav">
            <li><a href="{% url home_page %}" title="home">Home</a></li>
	    <br />
                <li><a href="{% url browse_tasks %}" title="tasks">Tasks</a></li>
                <li><a href="{% url browse_textbooks %}" title="textbook">Textbooks</a></li>
                <br />
            {% if user.is_authenticated %}
                <li><a href="{% url browse_notifications %}" title="notifications">
                  {{ user|notf_dsp }}
                </a></li>
                <br>
                <li><a href="{% url view_profile %}">Profile</a></li>
                <li><a href="{% url auth_logout %}">Logout</a></li>
            {% else %}
                <li><a href="{% url registration_register %}" title="register">Register</a></li>
                <li><a href="{% url auth_login %}" title="login">Login</a></li>
            {% endif %}
        </ul>
        </div>
        <div id="center">
            {% block content %}This is the default content{% endblock %}
        </div>
        <div id="right">
        </div>
        <div class="clearer">
        </div>
    </div>
    <div id="footer">
    Designed by <a href="http://fossee.in">FOSSEE</a>
    </div>
</div> 

</body>
</html>
