{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}


{% extends 'base.html' %}
{% block content %}
    {% if not user %}
    Checkout the tasks on the left panel for tasks that have been recently created.<br />
    Checkout the textbooks for textbooks that have been added to the project.<br />

    {% else %}
        Logged in as {{ user.username }} <br /><br />
    {% endif %}

<!--    {% if can_create_task %}-->
<!--    	<a href="{% url create_textbook %}">Add a new textbook</a><br />-->
<!--        <a href="{% url create_task %}">Create a task</a><br />-->
<!--    <br />-->
<!--    {% endif %}-->
    
    {% if unpublished_tasks %}
    Tasks created by you that need approval:<ul>
        {% for a_task in unpublished_tasks %}
            <li><a href="{% url view_task a_task.id %}">{{a_task.title}}</a></li>
        {% endfor %}
        </ul>
    <br />
    {% endif %}

    {% if reviewing_tasks %}
    Tasks you are reviewering:<ul>
        {% for a_task in reviewing_tasks %}
            <li><a href="{% url view_task a_task.id %}">{{a_task.title}}</a></li>
        {% endfor %}
        </ul>
    <br />
    {% endif %}

    {% if selected_tasks %}
    Tasks that have been assigned to you:<ul>
        {% for a_task in selected_tasks %}
            <li><a href="{% url view_task a_task.id %}">{{a_task.title}}</a></li>
        {% endfor %}
        </ul>
    <br />
    {% endif %}

    {% if claimed_tasks %}
    Tasks claimed but still not assigned to you:<ul>
        {% for a_task in claimed_tasks %}
            <li><a href="{% url view_task a_task.id %}">{{a_task.title}}</a></li>
        {% endfor %}
        </ul>
    <br />
    {% endif %}

{% endblock %}
