<html>
<head>
    <title>{% block title %}PyTasks{% endblock %}</title>
    {% block js_script %} {% endblock %}
    <link rel=stylesheet href="/static/css/base.css" type="text/css" >
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2><a href="/">PyTasks</a></h2>
    </div>
    <div id="container">
        <div id="left">
        <ul id="nav">
            <li><a href="/" title="home">home</a></li>
            {% if user.is_authenticated %}
                <li><a href="/task/browse/" title="tasks">tasks</a></li>
                <li><a href="/textbook/" title="textbook">textbooks</a></li>
                <br />
                <li><a href="/user/notifications/" title="notifications">
                {% if user.unread_notifications.count %}
                    notifications({{user.unread_notifications.count}})
                {% else %}
                    notifications
                {% endif %}
                </a></li>
                <li><a href="/user/requests/" title="Requests">
                {% if user.unread_requests.count %}
                    requests({{user.unread_requests.count}})
                {% else %}
                    requests
                {% endif %}
                </a></li>
                <br>
                <li><a href="/profile/view">profile</a></li>
                <li><a href="/accounts/logout/">logout</a></li>
            {% else %}
                <li><a href="/accounts/login/" title="login">login</a></li>
            {% endif %}
        </ul>
        </div>
        <div id="center">
            {% block content %}This is the default content{% endblock %}
        </div>
        <div id="right">
            <!--{% if user.is_authenticated %}
            <a href="/accounts/logout">logout</a> 
            {% endif %}-->
        </div>
        <div class="clearer">
        </div>
    </div>
    <div id="footer">
    Designed by <a href="http://fossee.in">FOSSEE</a>
    </div>
</div> 

</body>
</html>
