{% extends 'base.html' %}
{% block content %}
    {% if is_guest %}
        Welcome Guest<br>
        <a href="/accounts/register/">Register</a>
        <a href="/accounts/login/">Login</a><br /><br />
        Recent Tasks:<br />
        {% for task in task_list %}
            <a href="/task/view/tid={{ task.id }}">{{ task.title }}</a><br />
        {% endfor %}
    {% else %}
        Logged in as {{ user.username }} <br />
    {% endif %}
    {% if can_create_task %}
        <a href="/task/create/">Create a task</a><br />
    {% endif %}
{% endblock %}
