{% extends 'base.html' %}
{% block content %}
    {% if is_guest %}
        Welcome Guest<br>
        <a href="/accounts/register/">Register</a>
        <a href="/accounts/login/">Login</a><br /><br />
        Recent Tasks:<br />
        {% for task in task_list %}
            <a href="/task/view/tid={{ task.id }}">{{ task.title }}</a><br />
        {% endfor %}
    {% else %}
        Logged in as {{ user.username }} <br /><br />
    {% endif %}

    {% if can_create_task %}
        <a href="/task/create/">Create a task</a><br />
    <br />
    {% endif %}
    {% ifequal user.get_profile.rights "MG" %}
        <a href="/user/make/dv/">Request another user to be a Developer</a><br />
        <a href="/user/make/mg/">Request another user to act as manager</a><br />
    <br />
    {% endifequal %}
    {% ifequal user.get_profile.rights "AD" %}
        <a href="/user/make/dv/">Request another user to be a Developer</a><br />
        <a href="/user/make/mg/">Request another user to act as a Manager</a><br />
        <a href="/user/make/ad">Request another user to act as an Admin</a><br />
    <br />
    {% endifequal %}
    

    {% if user.unread_notifications.count %}
        You have {{ user.unread_notifications.count }} <a href='/user/notifications/'>unread</a>
        {% ifnotequal user.unread_notifications.count 1 %}
        notifications
        {% else %}
        notification
        {% endifnotequal %}
    <br />
    {% endif %}

    {% if user.unread_requests.count %}
        You have {{ user.unread_requests.count }}  <a href='/user/requests/'>unread</a>
        {% ifnotequal user.unread_requests.count 1 %}
        requests
        {% else %}
        request
        {% endifnotequal %}
    <br /><br />
    {% else %}
        {% if user.unread_notifications.count %}
            <br />
        {% endif %}
    {% endif %}
    
    
<!--
    {% if user.task_claimed_users.count %}
        {{ user.task_claimed_users.count }} <a href='/user/claimed/'>claimed</a>
        {% ifnotequal user.task_claimed_users.count 1 %}
        tasks
        {% else %}
        task
        {% endifnotequal %}<br />
    {% endif %}
    
    {% if user.task_assigned_users.count %}
        You are currently <a href='/user/assigned/'>working</a> on {{ user.task_assigned_users.count }}
        {% ifnotequal user.task_assigned_users.count 1 %}
        tasks
        {% else %}
        task
        {% endifnotequal %}<br />
    {% endif %}
    
    {% if user.task_mentors.count %}
        <a href="/user/mentor/">Mentoring {{ user.task_mentors.count }}
        {% ifnotequal user.task_mentors.count 1 %}
            tasks
        {% else %}
            task
        {% endifnotequal %}</a>
        <br />
    {% endif %}
    
    -->
    
    {% if unpublished_tasks %}
    Unpublished tasks viewable by you:<ul>
        {% for a_task in unpublished_tasks %}
            <li><a href="/task/view/tid={{a_task.id}}">{{a_task.title}}</a></li>
        {% endfor %}
        </ul>
    <br />
    {% endif %}

    {% if mentored_tasks %}
    Tasks you are mentoring:<ul>
        {% for a_task in mentored_tasks %}
            <li><a href="/task/view/tid={{a_task.id}}">{{a_task.title}}</a></li>
        {% endfor %}
        </ul>
    <br />
    {% endif %}

    {% if working_tasks %}
    Tasks that have been assigned to you:<ul>
        {% for a_task in working_tasks %}
            <li><a href="/task/view/tid={{a_task.id}}">{{a_task.title}}</a></li>
        {% endfor %}
        </ul>
    <br />
    {% endif %}

    {% if claimed_tasks %}
    Tasks claimed but still not assigned to you:<ul>
        {% for a_task in claimed_tasks %}
            <li><a href="/task/view/tid={{a_task.id}}">{{a_task.title}}</a></li>
        {% endfor %}
        </ul>
    <br />
    {% endif %}

{% endblock %}
