{% extends 'base.html' %}
{% block js_script %}
    <script language="JavaScript"> 
    <!--
     function getgoing()
        {
            window.location="{{redirect_url}}";
        }
     
    setTimeout('getgoing()',5000);
    //--> 
    </script>
{% endblock %}
{% block content %}

    {% if message %}
        {{message}}<br />
    {% endif %}
    You will be redirected to {{url_desc}} page in 5 seconds
    <!--
    {% if redirect_url %}
        <a href="{{redirect_url}}">click here</a> to return to {{url_desc}}
    {% else %}
        <a href="/">click here</a> to return to Homepage
    {% endif %}
    -->
{% endblock %}
