{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}
Dear {{ name }},

Ever since the "Kick-off workshop" got over, we have been continuously
getting emails and phone calls to upload the slides of the workshop.
Today, we have just done so. We have uploaded the slides of the workshop
at [0]. Please feel free to download the slides and use them.

We have kept the Sage servers running at [1], [2], [3], [4], [5]. The
worksheets of the two Sage sessions will be published on these servers
by tomorrow. Inspite of IITB's power and network outages, we have been
trying our level best to keep these servers running. So, if at all you
find that Sage server is not running, please feel free to drop in an
email to this email id. Also, a note of caution: Please use the same
Sage server port that you used during the workshop. We request you to
*NOT* create accounts on multiple Sage servers and later start
struggling to maintain consistent copies of your worksheets.

Some of the students have been asking us to provide the videos of the
workshop. Unfortunately, we could not get this workshop recorded. But
we have conducted the same workshop previously at various other places
across the country and at IIT Bombay. We have those videos available at
[6]. Please feel free to download and watch them. Students who could
not make it to the workshop, please watch these videos to get started.

Finally, there are questions from many students asking, if the website
still says not to claim any textbooks/tasks, when will this all start.
The answer to this is that we are burning the midnight oil to ensure
that this program is up and running smoothly. Today we had a meeting
with all the Department Coordinators. They are now in the process of
modularizing the textbooks into claimable tasks. They are also in the
process of identifying TAs for the textbooks. Once this is finalized,
you can start coding! If all goes well, the actual process of claiming
and hence your work should start from next week. In the meantime, what
you could do is, to go through the list of textbooks that are published
and make a list of textbooks from it, you would be interested to work on.
Although you will be claiming only one textbook or certain tasks from
a textbook, it is better to have this list because, if the textbook you
want to work on is claimed by some one else, you will have an option to
work on the next textbook of your choice.


[0] http://fossee.in/files/slides/textbookcompanion-iitb-workshop.zip
[1] http://10.101.11.8:8001
[2] http://10.101.11.8:8002
[3] http://10.101.11.8:8003
[4] http://10.101.11.8:8004
[5] http://10.101.11.8:8005
[6] http://fossee.in/videos

Excited to see the response,
 - FOSSEE team