{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}
Dear all,

Thanks for your participation during the Python workshop during 22nd, 23rd
Jan. Below are the details of the workshop on Scilab on 26th Jan 2011.

This Wednesday we will have a Scilab workshop conducted at IIT Bombay.

 Date: Wednesday, 26th January, 2011
 Venue: A1/A2, Mathematics Department, IIT Bombay
 Time: 10:00am to 05:30pm

Scilab is a free and open source platform (on various operating systems) for
numerical computation. This workshop will benefit those who use, or intend
to use, numerical packages like MATLAB for their computational needs.

You are required to bring your own laptop for this workshop. You will need
to download and install Scilab for this workshop from:
http://www.scilab.org/download
Linux users may find Scilab to be available
from their package manager- please install before coming.

It is also recommended that you bring your own headphones for this workshop,
although a limited number will be made available at the venue. The morning
session will use spoken tutorials (video screencast explanations) to cover
the following topics:

  - Introductory Scilab
  - Matrix Operations
  - Scripts and Functions
  - Plotting

It is required that you download the spoken tutorials *before* coming for
the workshop. Unlike the weekend,
an internet connection will not be available at the venue.

The spoken tutorials are available at:
http://www.ee.iitb.ac.in/student/~sengupta/scilab/workshop/basic
<http://www.ee.iitb.ac.in/student/%7Esengupta/scilab/workshop/basic>
(You may download all tutorials in one file using the ALL-Tutorials.tar.gz
file)

The afternoon session will consist of short demonstrations on the following
topics (roughly in this sequence):

  - Conditional Branching and Iteration
  - Polynomials
  - Ordinary Differential Equations
  - Control Systems
  - Signal Processing/Filter Design
  - Image Processing
  - Chemical Engineering Applications
  - XCos (Block diagram simulation environment like Simulink on Matlab)

Here are a few more areas that Scilab can be applied to;
we will NOT be covering for shortage of time:

  - Data acquisition and hardware control
  - Wavelets
  - Data analysis, Statistics and Probability
  - Linear Algebra and Optimization
  - Video processing
  - Communication
  - Graph theory
  - Artificial Neural Networks
  - Symbolic computations

Regards,
Scilab group of the FOSSEE team