Hello {{ name }},
   Thanks for your interest in Textbook Companion Project. We are excited
to work with you on this project. We just want to remind you that Textbook
Companion Project is going to be launched with a on 22nd-23rd Jan, 2011.
The venue for the workshop is CDEEP A1- A2 in the ground floor of Math
Department building. The workshop is starting at 9:00AM. We request you to
be at the venue on time.

It works best if you can get a laptop along with you. Please make sure
you have the packages required for the workshop installed on your laptop.

You cat get the information on installation of required packages at:
http://fossee.in/installation-how-to


Get ready for the first round of your Donuts!!
- FOSSEE Team
