{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}
Hello {{ name }},
   Thanks for your interest in the Textbook Companion Project. We are
excited to work with you on this project. We would like to remind you
that the Textbook Companion Project will be launched with a "Kick-off
Workshop" on 22nd-23rd Jan, 2011, i.e tomorow and the day after.
The venue for the workshop is CDEEP A1- A2, which is in the ground
floor of Math Department building. The workshop starts at 9:00AM on
both the days. We request you to be at the venue on time.

It works best if you can get a laptop along with you. Please make
sure you have the packages required for the workshop installed on
your laptop.

You cat get the information on installation of required packages
at: http://fossee.in/installation-how-to


Get ready for the first round of your Donuts!!
 - FOSSEE Team
