{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}
Hello {{ name }},
   After the previous email about the workshop reminder, we have been
continuously receiving calls and emails about the duration of the workshop.
Some of the questions that were asked and the answers for them are:

  Q. Is the workshop a single two-day workshop or a one day workshop
     which is repeated on the second day?

  A. Our workshop is a two day workshop. It is a single workshop. We
     continue the second day from where we leave the first day.


  Q. Can I attend only one day of the workshop?

  A. No. We strongly advice you to attend both the days. We have designed
     the workshop in such a way that every session has all the preceeding
     sessions as pre-requisite.

For your convenience we are giving the schedule of the workshop here.
Please have a look at it.

Day 1
~~~~~~
+ Sage
  - Getting started with Sage notebook (45 mins)
    + introduction
    + starting the server
    + the UI
    + getting help
    + overview of what's available in Sage
    + basic calculus
    + basic algebra
    + basic plotting
    
  - Symbolics, Calculus & Basic Plotting(1 hr)
    + parametric plots
    + 2D
    + 3D

  - Linear Algebra (45 mins)

+ Basic Plotting (using pylab) (1 hr)
  - getting started with ipython
  - using the plot command interactively
  - embellishing a plot
  - saving plots
  - multiple plots
  - saving to scripts and running them (from ipython)
  - running the same thing in sage notebook
- change language to python, import pylab, simple plot, savefig

+ Plotting Experimental Data (1 hr)
  - plotting points with lists

+ Arrays (1 hr)
  - make a reference to earlier example of squaring as motivation
    and say that there are loads of other goodies
  - give examples like find sin of a list of million elements
    using for and then use sin(an\_array)
  - getting started with arrays
  - accessing parts of arrays
  - 1d slicing
  - 1d striding
  - 2d slicing
  - 2d striding
  - lena example of above
  - element wise operations
  - matrices
  - one slide ( det, inv, norm )

Day 2
~~~~~~

+ Scipy (1 hr 30 min)
  - least square fit
  - Roots
  - introduce basic functions
  - Solving Equations
  - ODE
  - reinforce function
  - FFT

+ Python Language: Basics (1 hr)
  - basic data-types
  - strings
  - Operators
  - I/O
  - conditionals
  - loops
  - while (Fibonacci)
  - range, for (exercises)
  
+ Python Language: Data structures (1hr 30 min)
  - manipulating lists
  - dictionaries
  - manipulating strings
  - getting started with tuples
  - sets
  - spend time on examples

+ Python Language: Advanced (1 hr)
  - functions
  - defining functions
  - keyword arguments and default arguments
  - using python modules
  - writing re-usable python scripts
  - PEP-8?
  - download PEP 8 and keep it handy

+ Demonstration of PyTask(the web app)
  - Workflow to be followed for the Textbook Companion Project


Waiting for the sun to rise!
 - FOSSEE Team
