{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}


{% load i18n %}{% autoescape off %}
{% trans "You're receiving this e-mail because you requested a password reset" %}
{% blocktrans %}for your user account at {{ site_name }}{% endblocktrans %}.

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{% comment%}TODO: URL is hardcoded because domain already contains the URL prefix.
Should fix this hard coded URL.{% endcomment %}
{{ protocol }}://{{ domain }}/accounts/password/reset/confirm/{{ uid }}-{{ token }}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.username }}


{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
