{% extends 'base.html' %}
{% block content %}
<form action="/accounts/register/" method="post">
{% csrf_token %}
<p><label for="id_username">Username:</label> <input id="id_username" type="text" class="required" name="username" maxlength="30" /></p>
<p><label for="id_email">Email address:</label> <input id="id_email" type="text" class="required" name="email" maxlength="75" /></p>
<p><label for="id_password1">Password:</label> <input id="id_password1" type="password" class="required" name="password1" /></p>
<p><label for="id_password2">Password (again):</label> <input id="id_password2" type="password" class="required" name="password2" /></p>
<p><label for="id_full_name">Name as on your bank account:</label> <input id="id_full_name" type="text" name="full_name" maxlength="50" /> Any DD/Cheque will be issued on this name</p>

<p><label for="id_aboutme">About Me:</label>
<textarea id="id_aboutme" rows="10" cols="40" name="aboutme"></textarea>
A write up about yourself to aid the reviewer in judging your eligibility for a task. 
It can have your educational background, CGPA, field of interests etc.,</p>

<p><label for="id_dob">date of birth:</label> <input type="text" name="dob" id="id_dob" /> YYYY-MM-DD</p>
<p><label for="id_gender">gender:</label> <select name="gender" id="id_gender">
	<option value="M">Male</option>
	<option value="F">Female</option>

</select></p>
<p><label for="id_address">Address:</label>
<textarea id="id_address" rows="10" cols="40" name="address"></textarea>
This information will be used while sending DD/Cheque</p>
<p><label for="id_phonenum">Phone Number:</label> <input id="id_phonenum" type="text" name="phonenum" maxlength="10" /></p>
<input type="submit" value="Submit" />
</form>
{% endblock %}
