body {
  font-family:'Cardo',Georgia,Palatino,'Palatino Linotype',Times,'Times New Roman',serif;
  font-size: 14px;
  color: #333;
  text-align: center;
  margin: 0px;
  padding: 20px 0px 20px 0px;
}

#wrapper {
  width: auto;
  padding: 10px;
  margin: 0px auto 0px auto;
  height: auto;
  text-align: left;
}

#header {
  margin: 0px;
  padding: 5px 0px 5px 0px;
  height: auto;
  width: auto;
  text-align: center;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 0 1em darkslategray;
  -webkit-box-shadow: 0 0 1em darkslategray;
  box-shadow: 0 0 1em darkslategray;
}

#container {
  padding: 0px;
  margin: 10px 0px 0px 0px;
  background-attachment: scroll;
  background-image: url(back.gif);
  background-repeat: repeat-y;
  background-position: 0px 0px;
  height: auto; #default was 1%
  width: auto;
}

#left {
  margin: 0px;
  width: 15%;
  padding: 10px 20px 10px 20px;
  float: left;
  border: 1px solid #ddd;
}

div #navheader {
  margin-bottom: 15;
  padding: 5px 0px 5px 0px;
  height: auto;
  width: auto;
  text-align: center;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  text-indent: center;
  color: #a92;
  font-size: 16px;
  font-weight: bold;
}

#nav {
  margin: 0px;
  padding: 0px;
  list-style-image: none;
  list-style-type: none;
}

#nav li {
  margin: 0px;
  padding: 0px;
  display: block;
  background-attachment: scroll;
  background-image: url(bullet.gif);
  background-repeat: no-repeat;
  background-position: 0px 50%;
}

#nav li a:link, #nav li a:visited, #nav li a:active {
  color: #666;
  text-decoration: none;
  display: block;
  margin: 0px;
  padding: 3px 15px 3px 15px;
  width: 130px;
}

#nav li a:hover {
  color: #999;
  text-decoration: none;
}

#center {
  height: auto;
  width: 54%;
  padding: 10px 20px 10px 20px;
  float: left;
  margin: 0px 0px 0px 6px;
  line-height: 1.8em;
  border: 1px solid #ddd;
}

hr {
  color: #999;
}
h1 {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

#right {
  padding: 10px 20px 10px 20px;
  height: auto;
  width: 20%;
  float: left;
  margin: 0px 0px 0px 6px;
  border: 1px solid #ddd;
}

.clearer {
  font-size: 0px;
  line-height: 0px;
  display: block;
  margin: 0px;
  padding: 0px;
  clear: both;
  height: auto;
  width: auto;
}

#footer {
  margin: 10px 0px 0px 0px;
  text-align: center;
  padding: 5px 0px 5px 0px;
  background-color: #f1f1f1;
  clear: both;
}

#footer p {
  color: #999;
  margin: 0px auto 0px auto;
  padding: 0px;
}

#footer a:link, #footer a:visited, #footer a:active {
  color: #999;
  text-decoration: none;
}

#footer a:hover {
  color: #ccc;
  text-decoration: none;
} 

/* Form Related CSS definitions */
div #form {
  margin: 1em 0;
  padding-top: 10px;
  width: 600px;
  background: url('/pytask/static/images/form/form_top.gif') no-repeat 0 0;
}

div #form #field, #form #field-required {
  margin: .5em 0;
}

div #form #field label, #form #field-required label {
  position: relative;
  clear: left;
  float: left;
  width: 15em;
  margin-right: 5px;
  padding-right: 30px;
  text-align: right;
}

div #form #field input, #form #field textarea {
  width:252px;
  clear: left;
  border:1px solid #ddd;
  background:#fff url('/pytask/static/images/form/form_input.gif') repeat-x;
  padding:3px;
}

div #form #field-required input, #form #field-required textarea {
  width:252px;
  clear: left;
  border:1px solid #ff6161;
  background:#fff url('/pytask/static/images/form/form_input_required.gif') repeat-x;
  padding:3px;
}

div #form #field textarea, #form #field-required textarea {
  height:125px;
  overflow:auto;
}

div #form p.submit {
  clear: both;
  background:url('/pytask/static/images/form/form_bottom.gif') no-repeat 0 100%;
  padding:20px 25px 20px 240px;
  margin:0;
}

div #form button {
  width:150px;
  height:37px;
  line-height:37px;
  border:none;
  background:url('/pytask/static/images/form/form_button.gif') no-repeat 0 0;
  color:#fff;
  cursor:pointer;
  text-align:center;
}

button.green {
  width:150px;
  height:37px;
  padding-bottom: 5px;
  border:none;
  background:url('/pytask/static/images/form/form_button_green.png') no-repeat 0 0;
  color:#fff;
  cursor:pointer;
  text-align:center;
  font-size: 16px;
  font-weight: bold;
}