# Copyright 2011 Authors of PyTask.
#
# This file is part of PyTask.
#
# PyTask is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# PyTask is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
# for more details.
#
# You should have received a copy of the GNU General Public License
# along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors = [
#     '"Madhusudan.C.S" <madhusudancs@fossee.in>',
#     '"Nishanth Amuluru" <nishanth@fossee.in>',
#     ]


body {
  font-family:'Cardo',Georgia,Palatino,'Palatino Linotype',Times,'Times New Roman',serif;
  font-size: 14px;
  color: #333;
  text-align: center;
  margin: 0px;
  padding: 20px 0px 20px 0px;
}

#wrapper {
  width: auto;
  padding: 10px;
  margin: 0px auto 0px auto;
  height: auto;
  text-align: left;
}

#header {
  margin-bottom: 30px;
  padding: 5px 0px 5px 0px;
  height: auto;
  width: auto;
  text-align: center;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 0 1em darkslategray;
  -webkit-box-shadow: 0 0 1em darkslategray;
  box-shadow: 0 0 1em darkslategray;
}

#header a:link, #header a:visited, #header a:active {
  color: #0000cc;
}

/* Taken from http://www.maxdesign.com.au/articles/css-layouts/three-liquid/# */
#container1 {
  float: left;
  width: 100%;
}

/* Taken from http://www.maxdesign.com.au/articles/css-layouts/three-liquid/# */
#container2 {
  padding: 0px;
  margin: 10px 0px 0px 0px;
  background-attachment: scroll;
  background-image: url(back.gif);
  background-repeat: repeat-y;
  background-position: 0px 0px;
  height: auto; #default was 1%
  float: left;
  width: 100%;
}

#left {
  margin: 0;
  width: 15%;
  padding: 1% 1% 1% 1%;
  float: left;
  border: 1px solid #ddd;
  display: inline;
}

div #navheader {
  margin-bottom: 15;
  padding: 5px 0px 5px 0px;
  height: auto;
  width: auto;
  text-align: center;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  text-indent: center;
  color: #a92;
  font-size: 16px;
  font-weight: bold;
}

#nav {
  margin: 0px;
  padding: 0px;
  list-style-image: none;
  list-style-type: none;
}

#nav li {
  margin: 0px;
  padding: 0px;
  display: block;
  background-attachment: scroll;
  background-image: url(bullet.gif);
  background-repeat: no-repeat;
  background-position: 0px 50%;
}

#nav li a:link, #nav li a:visited, #nav li a:active {
  color: #666;
  text-decoration: none;
  display: block;
  margin: 0px;
  padding: 3px 15px 3px 15px;
  width: 130px;
}

#nav li a:hover {
  color: #999;
  text-decoration: none;
}

#rightnav #register a:link,
#rightnav #register a:visited,
#rightnav #register a:active {
  color: #666;
  text-decoration: none;
}

#rightnav #register a:hover,
#rightnav #login a:hover {
  color: #999;
  text-decoration: none;
}

#center {
  width: 56%;
  padding: 1% 1% 1% 1%;
  float: left;
  margin: 0 0 0 1%;
  line-height: 1.8em;
  border: 1px solid #ddd;
}

hr {
  color: #999;
}
h1 {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

#right {
  padding: 1% 1% 1% 1%;
  height: auto;
  width: 20%;
  float: right;
  border: 1px solid #ddd;
  display: inline;
}

.clearer {
  font-size: 0px;
  line-height: 0px;
  display: block;
  margin: 0px;
  padding: 0px;
  clear: both;
  height: auto;
  width: auto;
}

#footer {
  margin: 20px 0px 0px 0px;
  padding: 5px 20px 5px 20px;
  background-color: #f1f1f1;
  clear: both;
}

#footer #designed {
  text-align: left;
}

#footer #contact {
  text-align: right;
}

#footer p {
  color: #999;
  margin: 0px auto 0px auto;
  padding: 0px;
}

#footer a:link, #footer a:visited, #footer a:active {
  color: #999;
  text-decoration: none;
}

#footer a:hover {
  color: #ccc;
  text-decoration: none;
}

/* Form Related CSS definitions */
div #form {
  margin: 1em 0;
  padding-top: 10px;
  width: 100%;
  background: url('/pytask/static/images/form/form_top.gif') no-repeat 0 0;
}

div #form #field, #form #field-required {
  margin: .5em 0;
}

div #form #field label, #form #field-required label {
  position: relative;
  clear: left;
  float: left;
  width: 28%;
  margin-right: 1%;
  padding-right: 3%;
  text-align: right;
  font-weight: bold;
}

div #form #field input, #form #field textarea {
  width: 44%;
  clear: left;
  border: 1px solid #ddd;
  background: #fff url('/pytask/static/images/form/form_input.gif') repeat-x;
  padding: .5%;
  font-size: 16px;
}

div #form #field-required input, #form #field-required textarea {
  width: 44%;
  clear: left;
  border: 1px solid #ff6161;
  background:#fff url('/pytask/static/images/form/form_input_required.gif') repeat-x;
  padding: .5%;
  font-size: 16px;
}

div #form #field textarea, #form #field-required textarea {
  height:125px;
  overflow:auto;
}

div #form p.submit {
  clear: both;
  background:url('/pytask/static/images/form/form_bottom.gif') no-repeat 0 100%;
  padding: 20px 5% 20px 32%;
  margin:0;
}

/* Login Form related CSS */
div #loginform #field {
  margin: .5em 0;
}

div #loginform #field input {
  width: 100%;
  clear: left;
  border:1px solid #ddd;
  background:#fff url('/pytask/static/images/form/form_input.gif') repeat-x;
  padding: 3px;
}

div #loginform #error {
  width: 100%;
  clear: left;
  color: red;
  text-align: center;
  display: none;
}


/* Buttons to be used in forms and other places */
div button {
  width:150px;
  height:37px;
  line-height:37px;
  border:none;
  background:url('/pytask/static/images/form/form_button.gif') no-repeat 0 0;
  color:#fff;
  cursor:pointer;
  text-align:center;
}

button.green {
  width:150px;
  height:37px;
  padding-bottom: 5px;
  border:none;
  background:url('/pytask/static/images/form/form_button_green.png') no-repeat 0 0;
  color:#fff;
  cursor:pointer;
  text-align:center;
  font-size: 16px;
  font-weight: bold;
}

/* CSS required for tasks and other document pages. */
div #modification {
  font-size: small;
  color: #aa9922;
  text-align: right;
}

div #modification a:link,
div #modification a:visited,
div #modification a:active {
  color: #b004fe;
  font-weight: bold;
  text-decoration: none;
}

div #modification a:hover {
  color: #fb06d0;
  font-weight: bold;
  text-decoration: none;
}

/* Uberbar is the sticky bar at the top of the page */
/* Code taken from http://davidwalsh.name/persistent-header-opacity#bottom */
#uberbar  {
  border-bottom:1px solid #eb7429;
  background:#fc9453;
  padding:10px 20px 0px 10px;
  position:fixed;
  top:0;
  left:0;
  z-index:2000;
  width:98%;
  text-align: center;
}

/* Styling for displaying page errors. */
.exception {
  font-size: 18px;
  color: red;
  font-weight: bold;
}
