
body {
font-family:'Cardo',Georgia,Palatino,'Palatino Linotype',Times,'Times New Roman',serif;
font-size: 14px;
color: #333;
text-align: center;
margin: 0px;
padding: 20px 0px 20px 0px;
}
#wrapper {
width: 956px;
padding: 10px;
margin: 0px auto 0px auto;
height: auto;
text-align: left;
border: 1px solid #ddd;
}
#header {
margin: 0px;
padding: 5px 0px 5px 0px;
height: auto;
width: auto;
text-align: center;
background-color: #f1f1f1;
}
#container {
padding: 0px;
margin: 10px 0px 0px 0px;
background-attachment: scroll;
background-image: url(back.gif);
background-repeat: repeat-y;
background-position: 0px 0px;
height: auto; #default was 1%
width: auto;
}
#left {
margin: 0px;
width: 160px;
padding: 10px 20px 10px 20px;
float: left;
}
#nav {
margin: 0px;
padding: 0px;
list-style-image: none;
list-style-type: none;
}
#nav li {
margin: 0px;
padding: 0px;
display: block;
background-attachment: scroll;
background-image: url(bullet.gif);
background-repeat: no-repeat;
background-position: 0px 50%;
}
#nav li a:link, #nav li a:visited, #nav li a:active {
color: #666;
text-decoration: none;
display: block;
margin: 0px;
padding: 3px 15px 3px 15px;
width: 130px;
}
#nav li a:hover {
color: #999;
text-decoration: none;
}
#center {
height: auto;
width: 504px;
padding: 10px 20px 10px 20px;
float: left;
margin: 0px 0px 0px 6px;
line-height: 1.8em;
}
h1 {
font-size: 14px;
margin: 0px;
padding: 0px;
}
#right {
padding: 10px 20px 10px 20px;
height: auto;
width: 160px;
float: left;
margin: 0px 0px 0px 6px;
}
.clearer {
font-size: 0px;
line-height: 0px;
display: block;
margin: 0px;
padding: 0px;
clear: both;
height: 0px;
width: auto;
}
#footer {
margin: 10px 0px 0px 0px;
text-align: left;
padding: 5px 0px 5px 0px;
background-color: #f1f1f1;
}
#footer p {
color: #999;
margin: 0px auto 0px auto;
padding: 0px;
}
#footer a:link, #footer a:visited, #footer a:active {
color: #999;
text-decoration: none;
}
#footer a:hover {
color: #ccc;
text-decoration: none;
} 
