{% extends "base.html" %}

{% block content %}
  {% if comp_textbooks %}
    Textbooks that were completed recently
    <ul>
      {% for textbook in comp_textbooks %}
        <li>
          <a href="{% url view_textbook textbook.id %}">
            {{ textbook.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <br />
  {% endif %}

  {% if open_textbooks %}
    Textbooks that are open for contribution
    <ul>
      {% for textbook in open_textbooks %}
        <li>
          <a href="{% url view_textbook textbook.id %}">
            {{ textbook.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <br />
  {% endif %}

  {% if unpub_textbooks %}
    Textbooks that need approval
    <ul>
      {% for textbook in unpub_textbooks %}
        <li>
          <a href="{% url view_textbook textbook.id %}">
            {{ textbook.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  <br />
  {% endif %}

{% endblock %}
