{% extends "base.html" %}

{% load form_helpers %}

{% block css %}
  <style>
    .ui-autocomplete-loading {
      background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
    }
  </style>
{% endblock %}

{% block js %}
    <script type="text/javascript"
        src="/pytask/static/js/create_task_form.js">
    </script>
    <script type="text/javascript">
      create_form("{% url suggest_task_tags %}");
    </script>
{% endblock %}

{% block content %}
  {% as_div_form form "Create Chapter Form" csrf_token "Submit" %}
{% endblock %}
