{% extends "base.html" %}

{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}


{% load form_helpers %}

{% block content %}
    {% if can_claim %}
    Propose a claim to work on this task.<br />
    {% endif %}
    {% if old_claims %}
        List of all the claims for the task <a href="{% url view_task task.id %}">{{task.title}}</a><br />
        {% for claim in old_claims %}
            <hr />
            <a href="{% url view_user_profile claim.claimed_by.id %}"> {{ claim.claimed_by.username }}</a>
            on {{claim.claim_datetime|date:"D d M Y"}} at {{claim.claim_datetime|time:"H:i"}} wrote:<br />
            {{claim.proposal|linebreaksbr}}<br />
        {% endfor %}
    {% else %}
        {% if task_claimable %}
            There are no claims for this task yet.<br />
            {% if can_claim %}
                Be the first to claim the task.<br />
            {% endif %}
        {% else %}
            The task cannot be claimed at this stage.<br />
        {% endif %}
    {% endif %}
    {% if old_claims and can_approve %}
    <hr />
        <a href="{% url select_user task.id %}">Select a user to assign the work</a>
    {% endif %}

    {% if can_claim %}
      <hr />
      Please note that you can claim only once and so write your
      proposal carefully.<br />
      {% as_div_form form "Task Claim Form" csrf_token "Request Claim" %}
    {% endif %}

{% endblock %}
