{% extends "base.html" %}

{% block content %}
  You are about to approve the task <a href="{% url view_task task.id %}">
  {{task.title}}</a>
  <br />
  This action cannot be undone. Please confirm
  <br /><br />

<!--  <button class="green" type="submit" onclick="location.href='{% url approve_task task.id %}'">Approve</button>-->

  <a href="{% url approve_task task.id %}">
    Yes, I approve the task
  </a>
  <br />

  <a href="{% url view_task task.id %}">
    No, take me back to the task
  </a>
  <br />

{% endblock %}