{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}


{% extends "base.html" %}

{% load form_helpers %}

{% block css %}
  <style>
    .ui-autocomplete-loading {
      background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
    }
  </style>
{% endblock %}

{% block js %}
    <script type="text/javascript"
        src="/pytask/static/js/create_task_form.js">
    </script>
    <script type="text/javascript">
      create_form("{% url suggest_task_tags %}");
    </script>
{% endblock %}

{% block content %}
  {% as_div_form form "Create Task Form" csrf_token "Submit" %}
{% endblock %}
