{% extends "base.html" %}

{% comment %}
Copyright 2011 Authors of PyTask.

This file is part of PyTask.

PyTask is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyTask is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the GNU General Public License
along with PyTask.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment%}


{% load form_helpers %}
{% load browse_helpers %}


{% block title %}
    {{ textbook.title }}
{% endblock %}

{% block content %}
    {% as_modification_display "Created by" textbook.created_by textbook.creation_datetime %}
    <h2>{{ textbook.title }}</h2>

    {% if can_edit %}
        <a href="{% url edit_textbook textbook.id %}">Edit Text book</a>
    {% endif %}

    {% if can_approve %}
        <a href="{% url approve_textbook textbook.id %}">Approve Text book</a>
    {% endif %}

    <hr />
    <strong>Pynts: {{ textbook.pynts }}</strong><br/>
    {% if textbook.tags.count %}
      <strong>Tags:</strong> {% as_tags textbook.tags %}<hr />
    {% endif %}

    <hr />
    <b>Description:</b><br />
    {{ textbook.desc|linebreaksbr }}

    <h3>
      Tasks:
      {% if can_create_chapters %}
        <a href="{% url create_chapter textbook.id %}">Create Tasks</a>
      {% endif %}
    </h3>
    {% if chapters %}
      <table>
      {% for chap in chapters %}
      <tr>
        <td>
          <a href="{% url view_chapter chap.parent.id chap.id %}">
            {{ chap.title }}
          </a>
        </td>
        <td>
        (<strong>{{ chap.pynts }} Pynt{% if chap.pynts != 1 %}s{% endif %}</strong>)
        </td>
      </tr>
      {% endfor %}
      </table>
    {% else %}
      (Chapters are yet to be added by the Coordinator or T/A.)<br />
    {% endif %}

     <hr />
    {% if comments %}
        comments:<br /><br />
        {% for comment in comments %}
            <a href="{% url view_profile comment.commented_by.id %}">{{ comment.commented_by.username }}</a> 
            on {{ comment.comment_datetime|date:"D d M Y"}} at {{comment.comment_datetime|time:"H:i"}} wrote:<br />
        {{ comment.data|linebreaksbr }}<br />
        {% endfor %}
    {% endif %}
    <hr />

    {% if can_comment %}
      {% as_div_form form "Comment Form" csrf_token "Submit" %}
    {% endif %}

{% endblock %}
