{% extends 'base.html' %}
{% block title %}
    {{task.title}}
{% endblock %}
{% block content %}
    <h3>{{ task.title }}</h3>

    {% if can_edit %}
        <a href="/task/edit/tid={{task.uniq_key}}">Edit task</a>
    {% endif %}
    
    {% if can_publish %}
        <a href="/task/approve/tid={{task.uniq_key}}">Approve task</a>
    {% endif %}
    
    {% if can_close %}
        <a href="/task/close/tid={{task.uniq_key}}">Close task</a>
    {% endif %}
    
    {% if can_delete %}
        <a href="/task/delete/tid={{task.uniq_key}}">Delete task</a>
    {% endif %}

    <hr />created by <a href="/user/view/uid={{ task.created_by.uniq_key }}">{{ task.created_by.username }}</a>
    on {{task.creation_datetime|date:"D d M Y"}} at {{task.creation_datetime|time:"H:i"}}<br />
    
    {% ifequal task.status "UP" %}
        Task can be viewed by:
    {% else %}
        Reviewers:
    {% endifequal %}
    
    {% for reviewer in reviewers %}
        <a href="/user/view/uid={{reviewer.id}}">{{reviewer.username}}</a>
    {% endfor %}
    
    {% if can_mod_reviewers %}
        <a href="/task/addreviewer/tid={{task.uniq_key}}">
        {% ifequal task.status "UP" %}
            Request others to view/edit the task
        {% else %}
            Add another Reviewer to this task
        {% endifequal %}</a>
    {% endif %}
    <br />
    
    <hr />
    <b>Description:</b><br />
    {{ task.desc|linebreaksbr }}
    <br /><br /><hr />
    {% if task.tags.count %}
        Tags: 
        {% for tag in task.tags %}
            {{tag}}
        {% endfor %}
        <hr />
    {% endif %}

    
    {% ifequal task.status "CD" %}
        Task has been closed by <a href="/user/view={{closing_notification.sent_from.id}}">{{closing_notification.sent_from.username}}</a>
        on {{closing_notification.sent_date|date:"D d M Y"}} at {{closing_notification.sent_date|time:"H:i"}}<br />
        <b>Reason: </b>{{closing_notification.remarks}}<br />
    {% endifequal %}
    
    {% ifequal task.status "CM" %}
        Task has been marked complete by <a href="/user/view={{completed_notification.sent_from.id}}">
        {{completed_notification.sent_from.username}}</a>
        on {{completed_notification.sent_date|date:"D d M Y"}} at {{completed_notification.sent_date|time:"H:i"}}<br />
    {% endifequal %}
        
    {% ifequal task.status "OP" %}
        <br />There are no users working on this task.<br />
    {% endifequal %}
    
    {% if subs %}
        <br />This task cannot be claimed.. It exists only to show all of its sub tasks in one place.<br />
    {% endif %}
        
    {% if assigned_users %}
        Users working on this task:
        {% for user in assigned_users %}
            <a href="/user/view/uid={{user.id}}">{{user.username}}</a>
        {% endfor %}
        {% if is_reviewer %}
            <a href="/task/remuser/tid={{task.uniq_key}}">Remove an existing user</a>
        {% endif %}
        <br />
    {% endif %}
    
    {% if can_assign_pynts %}
        <a href="/task/assignpynts/tid={{task.uniq_key}}">View/Assign pynts</a>
    {% endif %}
    
    {% if task_claimable %}
        <a href="/task/claim/tid={{task.uniq_key}}">
        {% if is_reviewer %}
            View claims
        {% else %}
        <a href="/task/report/tid={{task.uniq_key}}">Submit Work</a>
            Claim the task
        {% endif %}</a>
    {% endif %}
    
    {% if comments %}
        <hr />
        comments:<br /><br />
        {% for comment in comments %}
            <a href="/user/view/uid={{comment.created_by.uniq_key}}">{{ comment.created_by.username }}</a> 
            on {{ comment.comment_datetime|date:"D d M Y"}} at {{comment.comment_datetime|time:"H:i"}} wrote:<br />
        {{ comment.data|linebreaksbr }}<br /><br />
        {% endfor %}
    {% endif %}

    {% if not is_guest %}
        <hr />
        {% if error_msg %}
            {{error_msg}}<br />
        {% endif %}
        {% ifnotequal task.status "UP" %}
            Add comment:<br />
            <form action="" method="post">
		    {% csrf_token %}
		    {{form.as_p}}
            <input type="submit" value="Submit">
            </form>
        {% else %}
            {% if is_reviewer %}
            Add comment:<br />
                <form action="" method="post">
		    {% csrf_token %}
		    {{form.as_p}}
                <input type="submit" value="Submit">
                </form>                
            {% endif %}
        {% endifnotequal %}
    {% endif %}
{% endblock %}
