{% extends 'base.html' %}
{% block content %}
    {% if not reqs %}
        You have no unreplied requests <sup><a href="/about/request/" target="_blank">learn more</a></sup><br />
    {% else %}
        You have not yet replied to these requests.<sup><a href="/about/request/" target="_blank">learn more</a></sup><br /><br />
        {% for req in reqs %}
            <a href="/user/requests/rid={{req.id}}">
            {% if not req.is_read %}<b>{% endif %}
            
            {% ifequal req.role "PY" %}
                Assign of pynts to {{req.receiving_user}} for the task "{{req.task.title|slice:":20"}}"
            {% endifequal %}
            
            {% ifequal req.role "MT" %} 
                Request to reviewer the task "{{req.task.title|slice:":20"}}"
            {% endifequal %}
            
            {% ifequal req.role "DV" %}
                Request to act as a developer in the website
            {% endifequal %}
            
            {% ifequal req.role "MG" %}
                Request to act as a manager in the website
            {% endifequal %}
            
            {% ifequal req.role "AD" %}
                Request to act as an admin in the website
            {% endifequal %}
            
            
            {% if not req.is_read %}</b>{% endif %}<br />
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}
