{% extends 'base.html' %}

{% block title %}
    {{ profile.user }}'s Profile
{% endblock %}

{% block content %}
    <!--{{ view_profile_form.as_p }}-->

    <h2>{{ profile }}'s Profile</h2>
    <hr>
    {% if edit_profile %}
        <a href="/user/edit/">edit profile</a> | <a href="/accounts/password/change">change password</a>
        <hr>
    {% endif %}
    {% if profile.photo %}
        <a href={{ profile.photo.url }}>
        <img border="0" height="200" src={{ profile.photo.url }}>
        </a>
    {% endif %}
    {% if privilege or edit_profile %}
        <br><h4>E-Mail</h4><hr>{{ user.email }}
    {% endif %}
    {% if profile.aboutme %}
        <br><h4>About Me</h4><hr>{{ profile.aboutme }}
    {% endif %}
    {% if profile.nick %}
        <br><h4>Nick Name</h4><hr>{{ profile.nick }}
    {% endif %}
    {% if profile.dob %}
        <br><h4>Date of Birth</h4><hr>{{ profile.dob }}
    {% endif %}
    {% if profile.credits %}
        <br><h4>Credits</h4><hr>{{ profile.credits }}
    {% endif %}
    {% if profile.foss_comm %}
        <br><h4>Foss Community</h4><hr>{{ profile.foss_comm }}
    {% endif %}
    {% if privilege or edit_profile %}
        {% if profile.phonenum %}
            <br><h4>Phone Number</h4><hr>{{ profile.phonenum }}
        {% endif %}
    {% endif %}
    {% if profile.homepage %}
        <br><h4>Homepage</h4><hr>{{ profile.homepage }}
    {% endif %}
    {% if privilege or edit_profile %}
        {% if profile.street or profile.city or profile.country %}
            <br><h4>Address</h4><hr>
            {% if profile.street %}
                {{ profile.street }}
                <br>
            {% endif %}
            {% if profile.city %}
                {{ profile.city }}
                <br>
            {% endif %}
            {% if profile.country %}
                {{ profile.country }}
            {% endif %}
        {% endif %}
    {% else %}
    {% endif %}
{% endblock %}
