{% extends 'base.html' %}
{% block content %}
    {% if newest %}
        <a href="/user/requests/rid={{newest.id}}">&lt;&lt;newest</a>
    {% endif %}
    {% if newer %}
        <a href="/user/requests/rid={{newer.id}}">&lt;newer</a>
    {% endif %}
    {% if older %}
        <a href="/user/requests/rid={{older.id}}">older&gt;</a>
    {% endif %}
    {% if oldest %}
        <a href="/user/requests/rid={{oldest.id}}">oldest&gt;&gt;</a>
    {% endif %}
    <br />
    From:&nbsp; <a href="/user/view/uid={{req.sent_by.id}}">{{req.sent_by.username}}</a><br />
    To: 
    {% for to_user in sent_users %}
        <a href="/user/view/uid={{to_user.id}}">{{to_user.username}}</a>&nbsp;
    {% endfor %}
    <br />
    sent at {{req.creation_date}}<br />
    Message: <br />
    {% ifequal "PY" req.role %}
        <a href="/user/view/uid={{req.sent_by.id}}">{{req.sent_by.username}}</a> assigned {{req.pynts}} pynts to 
        <a href="/user/view/uid={{req.receiving_user.id}}">{{req.receiving_user.username}}</a> for the task
        <a href="/task/view/tid={{req.task.id}}">{{req.task.title}}</a><br />
    {% endifequal %}    
    
    {% ifequal "MT" req.role %}
        <a href="/user/view/uid={{req.sent_by.id}}">{{req.sent_by.username}}</a> requested you to act as a mentor for the task
        <a href="/task/view/tid={{req.task.id}}">{{req.task.title}}</a><br />
    {% else %}
        You have been requested to act as 
        {% ifequal "AD" req.role %}
            an Admin
        {% else %}
            {% ifequal "MG" req.role %}
                a Manager
            {% else %}
                a Developer
            {% endifequal %}
        {% endifequal %}
        for the website by <a href="/user/view/uid={{req.sent_by.id}}">{{req.sent_by.username}}</a>.<br />
    {% endifequal %}
    
    Please accept or reject the request.<br />
    <form action="yes/" method="post">
        <input value="Accept" type="submit">
    </form>
    <form action="no/" method="post">
        Remarks: <input type="text" name="remarks">
        <input value="Reject" type="submit">
    </form>
    <a href="/user/requests/">Click here</a> to return to the requests page.
    
{% endblock %}
